@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F1F1F1;
  overflow-x: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
}

.body {
  background-color: #F1F1F1;
}

.burger {
  display: block;
  position: absolute;
  color: #F1F1F1;
  fill: #F1F1F1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 90%;
  right: 0;
  top: 3.4%;
  z-index: 100;
  cursor: pointer;
}

.burger img {
  width: 50%;
}

.open {
  display: block !important;
}

.nav {
  display: none;
}

.nav__list a {
  text-decoration: none;
}

.nav__menu {
  font-size: 16px;
  padding: 5em 1em 1em 1em;
  list-style: none;
  height: 100vh;
  background-color: #1D2120;
}

.nav__menu-dropdown {
  display: none;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  left: 2%;
}

.nav__menu-dropdown-list {
  list-style-type: none;
}

.nav__menu-dropdown-list a {
  display: block;
  text-decoration: none;
  border-top: 1px solid #F1F1F1;
  padding: 5px 15px 5px 15px;
  background: #F1F1F1;
  white-space: nowrap;
}

.nav__list {
  display: block;
  margin: 2em 1em 0 1em;
  padding: 1em;
  position: relative;
}

.nav__list a {
  color: white;
}

.nav__list:hover .nav__menu-dropdown {
  float: none;
  font-size: .8em;
  display: none;
  position: absolute;
}

.nav__src {
  position: absolute;
  width: 50%;
  left: 10%;
  margin: 1em 0;
}

.nav__src-btn {
  position: absolute;
  background: #5b6872;
  height: 32px;
  color: #F1F1F1;
  border-radius: 0 10px 10px 0;
  border: unset;
  cursor: pointer;
  top: 0;
  width: 3em;
}

.nav__src input {
  border-radius: 10px 0 0 10px;
  height: 32px;
  padding: 0 1em;
  width: 100%;
  border: 0.5px solid #cdd4d9;
  float: left;
}

.nav__btn {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 85%;
  position: absolute;
  color: #F1F1F1;
  background-color: #ee2727;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}

.nav__login-link {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 94%;
  position: absolute;
  color: #F1F1F1;
}

@media (max-width: 766px) {
  .nav__list {
    text-align: center;
  }
  .nav__menu-dropdown {
    text-align: center;
    display: none;
  }
  .nav_list:hover .nav__menu-dropdown {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__menu {
    height: 100vh;
  }
  .nav__src input {
    width: 30em;
  }
  .nav__list {
    text-align: center;
    font-size: 1.5em;
  }
  .nav .burger {
    top: 2.7%;
  }
  .nav__btn {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 70%;
  }
  .nav__login-link {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 80%;
    color: #F1F1F1;
  }
}

@media (min-width: 1025px) {
  .burger {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav__menu {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6em;
  }
  .nav__src {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 35%;
    width: 50%;
  }
  .nav__src input {
    width: 100%;
  }
  .nav__list {
    display: block;
    left: 7.8%;
    padding: .2em .5em;
    font-size: 1.2em;
  }
  .nav__list a {
    color: #F1F1F1;
  }
  .nav__btn {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 83%;
    top: 2%;
    width: unset;
    padding: 0.8em;
    border-radius: 10px;
  }
  .nav__login-link {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 93%;
    top: 3.5%;
  }
  .nav .nav__list:hover .nav__menu-dropdown {
    float: none;
    font-size: .8em;
    display: block;
    position: absolute;
  }
  .nav .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #F1F1F1;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 0.5em;
  }
  .nav__menu-dropdown-list-item {
    list-style-type: none;
    background-color: #F1F1F1;
    padding: 0.5em;
    text-align: center;
    width: 10em;
  }
  .nav__menu-dropdown-list-item a {
    color: #1D2120;
    font-size: 1.2em;
  }
}

.search__dropdown {
  position: absolute;
  top: 4em;
  left: 12em;
  z-index: 100;
  width: 500px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.search__dropdown a {
  display: block;
  padding: 1em;
}

#logo {
  width: 2.5%;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}

#logo img {
  width: 100%;
}

#bglogo {
  position: absolute;
  top: 40%;
  opacity: 0.5;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20%;
  z-index: -1;
}

#bglogo img {
  width: 100%;
}
/*# sourceMappingURL=nav.css.map */