    // IMPORTS
    @import '_colors.scss';
    @import '_global.scss';
    @import '_breakpoints.scss';
    // Breakpoints
    $breakpoints: ( 'phone': 320px, 'tablet': 767px, 'desktop': 1024px);
    // HITS ALL CONTENT
    * {
        font-family: 'Roboto', sans-serif;
    }
    
    .body {
        background-color: $light;
    }
    
    .burger {
        display: block;
        position: absolute;
        color: $light;
        fill: $light;
        transform: translateX(-50%);
        left: 90%;
        right: 0;
        top: 3.4%;
        z-index: 100;
        cursor: pointer;
        img {
            width: 50%;
        }
    }
    .open {
        display: block !important;
    }

    // NAVIGATION
    .nav {
        display: none;
        &__list a {
            text-decoration: none;
        }
        &__menu {
            font-size: 16px;
            padding: 5em 1em 1em 1em;
            list-style: none;
            height: 100vh;
            // display: flex;
            background-color: $dark;
            &-dropdown {
                display: none;
                box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
                // margin-top: 0.5em;
                left: 2%;
                &-list {
                    list-style-type: none;
                }
                &-list a {
                    display: block;
                    text-decoration: none;
                    border-top: 1px solid $light;
                    padding: 5px 15px 5px 15px;
                    background: $light;
                    white-space: nowrap;
                }
            }
        }
        &__list {
            display: block;
            margin: 2em 1em 0 1em;
            padding: 1em;
            position: relative;
            a {
                color: white;
            }
        }
        &__list:hover .nav__menu-dropdown {
            float: none;
            font-size: .8em;
            display: none;
            position: absolute;
        }
        // SRC INPUT
        &__src {
            position: absolute;
            // transform: translateX(-50%);
            width: 50%;
            left: 10%;
            margin: 1em 0;
            &-btn {
                position: absolute;
                background: $cc15;
                height: 32px;
                color: $light;
                border-radius: 0 10px 10px 0;
                border: unset;
                cursor: pointer;
                // float: left;
                top: 0;
                width: 3em;
            }
            input {
                border-radius: 10px 0 0 10px;
                height: 32px;
                padding: 0 1em;
                width: 100%;
                border: 0.5px solid $cc9;
                float: left;
            }
        }
        &__btn {
            transform: translateX(-50%);
            left: 50%;
            top: 85%;
            position: absolute;
            color: $light;
            background-color: $inactive;
            border: none;
            width: 100%;
            padding: 1em;
            font-size: 1em;
            cursor: pointer;
        }
        // LOGIN & ADD LINK
        &__login-link {
            transform: translateX(-50%);
            left: 50%;
            top: 94%;
            position: absolute;
            color: $light;
        }
    }
    
    // MEDIA QURIES
    //mobil
    @include media ("<tablet") {
        .nav__list {
            text-align: center;
        }
        .nav__menu-dropdown {
            text-align: center;
            display: none;
        }
        .nav_list:hover .nav__menu-dropdown {
            display: none;
        }
    }
    
    //tablet
    @include media (">tablet") {
        .nav {
            // overflow: hidden;
            &__menu {
                height: 100vh;
            }
            &__src input {
                width: 30em;
            }
            &__list {
                text-align: center;
                
                font-size: 1.5em;
            }
            .burger {
                top: 2.7%;
            }
            &__btn {
                transform: translateX(-50%);
                top: 70%;
            }
            &__login-link {
                transform: translateX(-50%);
                top: 80%;
                color: $light;
            }
        }
    }
    
    //desktop
    @include media (">desktop") {
        .burger {
            display: none;
        }
        .nav {
            display: block;

            &__menu {
                padding: 1em;
                display: flex;
                height: 6em;
            }
            &__src {
                transform: translateX(-50%);
                left: 35%;
                width: 50%;
            }
            &__src input {
                width: 100%;
            }
            &__list {
                display: block;
                left: 7.8%;
                padding: .2em .5em;
                font-size: 1.2em;
            }
            &__list a {
                color: $light;
            }
            &__btn {
                transform: translateX(-50%);
                left: 83%;
                top: 2%;
                width: unset;
                padding: 0.8em;
                border-radius: 10px;
            }
            &__login-link {
                transform: translateX(-50%);
                left: 93%;
                top: 3.5%;
            }
            .nav__list:hover .nav__menu-dropdown {
                float: none;
                font-size: .8em;
                display: block;
                position: absolute;
            }
            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                border: solid $light;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin-left: 0.5em;
            }
        }
        .nav__menu-dropdown-list-item {
            list-style-type: none;
            background-color: $light;
            padding: 0.5em;
            text-align: center;
            width: 10em;
            a {
                color: $dark;
                font-size: 1.2em;
            }
        }
    }


    
.search__dropdown {
    position: absolute;
    top: 4em;
    left: 12em;
    z-index: 100;
    width: 500px;
    background-color: $white;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    a {
        display: block;
        padding: 1em;
    }
}


#logo {
    width: 2.5%;
    transform: translateX(2em);
    img {
        width: 100%;
    }
}

#bglogo {
    position: absolute;
    top: 40%;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    z-index: -1;
    img {
        width: 100%;
    }
}