@import '../css/global';

$breakpoints: (
  'mini': 400px,
  'mini-m': 600px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px
);

.registerform {
    font-family: 'Roboto', OpenSans;
    display: grid;
    background-color: $white;
    width: 80%;
    margin: 2em auto;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .2);
    position: relative;

    @include media(">mini-m"){
        grid-template-columns: 1fr 1fr;
        width: 481px;
    }

    &__headline {
        display: grid;
    align-items: center;
    padding: 1em;
    @include media(">mini-m"){
        grid-row: 1;
    }
    }
    &__message {
        font-size: .9em;
        position: absolute;
        top: 6.5%;
        right: 12%;
    }
    &__col1{
        justify-self: center;
        @include media(">mini-m"){
            grid-row: 2;
        }
    }
    &__col2{
        justify-self: center;
        @include media(">mini-m"){
            grid-row: 2;
        }
    }
    &__input {
    border: 1px solid #d1d1d1;
    width: 200px;
    padding: 0 .3em;
    height: 2em;
    font-size: .9em;
    outline: none;
    }
    &__label {
        display: grid;
    }
    &__terms {
        display: inline-block;
    }
    &__inputcontainer {
        position: relative;
        margin: 1em auto 0 auto;
    }
    &__checkcontainer {
        position: relative;
        margin: 2em .7em 0 .7em;
        text-align: center;
        @include media(">mini-m") {
            grid-column: 1 / span 2;
            grid-row: 4;
        }
    }
    #register {
        margin: 1.5em auto;
        padding: .5em 0;
        width:80%;
        font-size: 1em;
        font-weight: 300;
        background-color: $primary;
        color: $white;
        border-radius: 10px;
        @include media(">mini-m") {
            grid-column: 1 / span 2;
            grid-row: 5;
            width: 60%;
        }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
}